#grid {
    height: 100%;
    overflow-y: scroll;
    background-color: brown;
}

#grid ul {
    height: 100%;
    width: 100%;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 8px;
}

#grid li {
    flex: 1;
    list-style: none;
    width: 98px;
    margin-left: 8px;
    margin-top: 8px;
}

#grid img{
    width: 98px;
}

#grid div img {
    width: 25px;
}

/* scroll */

#grid::-webkit-scrollbar {
    width: 1em;
}
 
#grid::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
#grid::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}