#carousel {
    position: relative;
    width: 350px;
    height: auto;
    background-color: #555;
}

.carousel-arrow {
    position: absolute;
    width: 50px;
    height: 100%;
}

.carousel-arrow img {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

#left-arrow {
    background-image: linear-gradient(to right, #000, #0000);
}

#left-arrow img {
    transform: rotate(90deg);
}

#right-arrow {
    right: 0px;
    top: 0px;
    background-image: linear-gradient(to left, #000, #0000);
}

#right-arrow img {
    transform: rotate(-90deg);
}

#carousel ul {
    padding: 0px;
    width: 350px;
    overflow-x: hidden;
    display: flex;
}

#carousel li {
    list-style: none;
    margin: 4px 8px;
}

#carousel img {
    width: 100px;
}